@charset "utf-8";

.quedatecasa{
    display: block;
    margin: auto;
    width: 50%;
    height: 120px;
    margin-left: 200px;
    
}
.contenedor2{
    margin:auto;
    width: 100%;
}

.contenedor2 ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.contenedor2 ul li{
    width: 260px;
    height: 250px;
    float: left;
    border: 2px solid #000;
    text-align: center;
    margin: 9px;
    border-radius: 3px;
}
.contenedor2 ul li img{
    border-radius: 20px;
    width: 150px;
    height: 140px;
}
.contenedor2 p{
    text-align: justify;
    margin: 7px;
    color: rgb(0, 0, 0);
    margin: 1%;
}
.h1{
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 2%;
}
.h2{
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 2%;
    display: inline-block;
    
}
.h3{
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 2%
}

@media only screen and (max-width: 800px){
    .quedatecasa{
        display: block;
        margin: auto;
        width: 80%;
        height: 120px;
        
    }
    .contenedor2{
        height: 100%;
        position: static;
        margin: 20px;
		
    }
    .contenedor2 ul{
        list-style: none;
        padding: 0px;
        width: 90px;

    }
    .contenedor2 ul li{
        padding-left: 5px;
        padding-right: 5px;
        width: 500px;
        float: none;
        border: 1px solid #d1d1d1;
        text-align: center;
        margin: 10px;
        border-radius: 3px;
    }
    h2{
        text-align: center;
    }
}

@media only screen and (max-width: 450px){
    .quedatecasa{
        display: block;
        margin: auto;
        width: 80%;
        height: 120px;
        
    }
    .contenedor2{
        max-height: 120px;
        width: 100%;
        display: contents;
    }
    .contenedor2 ul li{
        position: relative;
        width: 280px;
        float: left;
        border: 1px solid #d1d1d1;
        text-align: center;
        margin: 9px;
        border-radius: 3px;
    }
}