@charset "utf-8";

body{
	background-attachment: fixed;
	color: #222222;
	font-size: 1.2rem;
	line-height: 1.1em;
	margin: 0;
	background-color: #E4E5DF;
	background-position: center;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}


h1{
	font-size: 2rem;
	line-height: 1.3em;
	color: rgb(0, 0, 0);
}

p{
	margin-bottom: 1.0em;
	color: rgb(0, 0, 0);
}
h2{
	color: rgb(0, 0, 0);
}
h3{
	color: rgb(0, 0, 0);
}



main{
	flex: 1;
	padding-top: 60px;
	padding-bottom: 30px;
}

/*select de la pagina de comercios.php*/
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
	display: none;
}
.content-select{
	max-width: 250px;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 7px 10px;
	height: 42px;			
	outline: 0; 
	border: 0;	
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
	border-radius: 12px;
	position: relative;
				

	transition: all 0.25s ease;
}
.content-select select:hover{
	background: #B1E8CD;
}
/*hasta aca el css del select*/

/* ----------------- adicionales comercios.php-------------------- */

.buscador input[type="submit"]:hover{
	background: #6BCFD4;
	cursor: pointer;
}

.buscador input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #BAD91B;
	color: #0E0E0E;
	font-size: 18px;
	border-radius: 20px; 
}


/*  */

