@charset "utf-8";

body{
	background-attachment: fixed;
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
	line-height: 1.1em;
	margin: 0;
	background-color: #E4E5DF;
	background-position: center;
	width: 100%;
	
}


h1{
	font-size: 2rem;
	line-height: 1.3em;
}

p{
	margin-bottom: 1.0em;
}



.main{
	padding-top: 9rem;
}

/*select de la pagina de comercios.php*/
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
	display: none;
}
.content-select{
	max-width: 250px;
	position: relative;
}

.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
	padding: 7px 10px;
	height: 42px;			
	outline: 0; 
	border: 0;	
	border-radius: 0;
	background: #f0f0f0;
	color: #7b7b7b;
	font-size: 1em;
	color: #999;
	border:2px solid rgba(0,0,0,0.2);
	border-radius: 12px;
	position: relative;
				

	transition: all 0.25s ease;
}
.content-select select:hover{
	background: #B1E8CD;
}
/*hasta aca el css del select*/

/*------------------------ footer ----------------------------------*/

.footer{
    background:#f2f2f2;
    color:black;
    height: 300px;
	position: relative;
	text-align: center;
}



.footer .content{
	
    background:#f2f2f2;
    height: 270px;
    display: flex;
}

.footer .content .logo{
	background:#f2f2f2;
    margin-left: 50px;
    margin-top: 20px;
    flex: 1;
}

.footer .content .links{
	background:#f2f2f2;
    margin-left: 50px;
    margin-top: 20px;
    flex: 1;
}
.footer .content .contact{
	background:#f2f2f2;
    margin-left: 50px;
    margin-top: 20px;
    flex: 1;
}



.footer .content .contact h1 span{
    color: black;
}

.footer .content .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}



.footer .content .links ul li{
    display: block;
    margin-bottom:20px;
    font-size: 1.2em;
    text-decoration: none;

}

@media only screen and (max-width: 767px){
	

	/* -----------------------footer--------------------- */
	.footer{
		text-align: left;
	}
	.footer .content{
		flex-direction: column;
		text-align: center;
	}

	.footer .content .logo{
		margin-left: 0px;
		text-align: center;
	}

	.footer .content .links{
		margin-left: 0px;
		text-align: center;
	}

	.footer .content .contact{
		margin-left: 0px;
		margin-top: 0px;
		text-align: center;
	}
}






/* ----------------- adicionales comercios.php-------------------- */

.buscador input[type="submit"]:hover{
	background: #6BCFD4;
	cursor: pointer;
}

.buscador input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #BAD91B;
	color: #0E0E0E;
	font-size: 18px;
	border-radius: 20px; 
}


/*  */

