.bloque{
    width: 320px;
    height: auto;
    background: #368ae8;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px; 
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.2);
        
}     
.bloque h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    text-decoration: underline;
}

.bloque label{
    padding: 0;
    margin: 0;
    font-weight: bold;
    display: block;
}

.bloque input{
    width: 100%;
    margin-bottom: 20px;
}

.bloque input[type="text"],
.bloque input[type="password"],
.bloque input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
}

.bloque input[type="submit"],
.bloque input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #BAD91B;
    color: #0E0E0E;
    font-size: 18px;
    border-radius: 20px; 
}

.bloque input[type="submit"]:hover,
.bloque input[type="button"]:hover{
    background: #6BCFD4;
    cursor: pointer;
}

