.contenedor{
	width: 85%;
	max-width: 850px;
    margin: 0 auto;
    display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
header{
	background: #BAD91B;
	color: #323131;
	max-height: 100px;
	left: 0;
	top: 0;
    right: 0;
    flex: 1;
}
header a{
	color: #323131;
	text-decoration: none;
}

.contenedor .logo{
	background: url(../img/zapalacomer.jpg) top left no-repeat;
    background-position: center;
    background-size: cover;
    width: 260px;
    height: 100px;
    margin-top: -10px;
    object-fit: contain;
}

.navegador ul{
	margin: 0;
	padding: 0;
    list-style: none;
    
}

.navegador ul li{
    display: inline-block;
}
.navegador ul li a{
	display: block;
	padding: 0.6rem 1rem;
    border-radius: 5px;
    
}

.navegador ul li a:hover{
	background: #85929E;
}


.menu-toggle{
    visibility: hidden;
    padding: 1em;
    position: absolute;
   
}
.menu-open .hamburger{
    transform: rotate(45deg);
}
.menu-open .hamburger::before{
    opacity: 0;
}
.menu-open .hamburger::after{
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after{
    content: '';
    display: block;
    background: #707070;
    height: 3px;
    width: 45px;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before{
    transform: translateY(-6px);
    height: 3px;
}
.hamburger::after{
    transform: translateY(3px);
}

@media only screen and (max-width: 767px){
    .contenedor{
        width: 100%;
    }
    .contenedor .logo{
        min-width: 300px;
        margin-top: 20px;
        margin-left: 20px;
		background: url(../img/Logo.png) top left no-repeat;
		width: 70px;
        height: 70px;
    }
    .navegador{
        margin-top: 10px;
        background: #BAD91B;
        position: relative;
        left: -100%;
        width: 80%;
        height: 100%;
        margin: 0;
        z-index: 1;
    }
    .navegador-open{
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
    .navegador ul li{
        text-transform: uppercase;
        border-bottom: 1px solid #7070707e;
        display: block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navegador ul li:last-child{
        border-bottom: 1px solid rgba(157, 199, 4, 0.986);
    }

    .menu-toggle{
        visibility: visible;
        top: 30px;
        right: 0px;
    }

}