body{
    margin: 0px;
    padding: 0px;
    background: url(../img/background.png) no-repeat center top;
    font-family: sans-serif;
    height: 100vh;
}

.notif_block{
    width: 400px;
    height: 200px;
    background: #368ae8;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 30px; /*espacio desde el contenido interno al borde*/
    box-shadow:10px 5px 5px rgba(0, 0, 0, 0.2); /* offset-x | offset-y | blur-radius | color */
}
.notif_block h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.notif_block input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #493aaa;
    color: #fff;
    font-size: 18px;
    border-radius: 20px; 
}

.notif_block input[type="submit"]:hover{
    background: #5c48dd;
    cursor: pointer;
}
.notif_block input{
    width: 100%;
    margin-bottom: 20px;
}